beautifulsoup4==4.12.2
black==23.3.0
boto3==1.26.130
farm-haystack[preprocessing,file-conversion,pdf]==1.16.1
ipykernel==6.23.0
jupyter==1.0.0
matplotlib==3.7.1
nltk==3.8.1
numpy==1.24.3
pandas==2.0.1
python-dotenv==1.0.0
wordcloud==1.9.1.1
